* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {

    --color-white: #ffffff;
    --color-dark-text: #161012;
    --color-dark-grey: #6b7376;
    --color-text-grey:  #b6bbb6c1;
    --color-headers:   #eaeaea;
    --color-contact-hover: #e9ebeb;
    --color-light-icons: #b1b1b1;
    --color-notification: #8edafc;
    --background: linear-gradient(180deg, #009688 24.99%, #DCDBD3 25% );
    --color-light-background: #ffffff;
    --color-light-text: #000000;
    --color-dark-background: #161012;
    --color-dark-text: #ffffff;
}

body {
    font-family: 'Lato', sans-serif;
    cursor: pointer;
    background: var(--background);

}

img {
    width: 50px;
    border-radius: 50%;
}
.header {
    background-color: var(--color-headers);
}


#app {
    width: 100%;
    height: 100vh;
    padding: 20px;
}
.h0 {
    height: 0;
}

.fa-solid {
    color: var(--color-light-icons);
}

.fa-bell-slash {
    font-size: 1.2rem;
    color: #8edafc;
    background-color: #f2fbff;
    padding: .3rem;
    border-radius: 50%;
    width: 30px;
    margin-right: 5px;
}

.bg-notification {
    background-color: var(--color-notification);
    font-size: 0.7rem;
}
.bg-white {
    background-color: var(--color-white);
}
.color-grey {
    color: var(--color-text-grey);
    text-decoration: underline;
}

.search {
    background-color: #fafafa;
}
.section-chat {
    background-image: url(/img/mine.jpg);
    width: 100%;
    height: 78%;
}

.message-input i {
    font-size: 1.4rem;

}
.sent {
    background-color: #DCF8C6; 
    padding: 10px;
    margin: 5px;
    border-radius:  10px;
    margin-left: auto;
    width: 300px;
   
}

.received {
    background-color:var(--color-white);
    width: 200px;
    padding: 10px;
    margin: 5px;
    border-radius:  10px;
    margin-right: auto;
}

small {
    font-size: .7rem;
    color: var(--color-text-grey);
}

.msg {
    font-size: .8rem;
    font-weight: bold;
}

.text-date {
    display: flex;
    justify-content: end;
    align-items: end;
}

.add-contact-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popup-content {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-align: center;
}







